1. Write a Python program that uses a for loop to print all the even numbers between 10 and 50.

In [2]:
for i in range(10,50):
    if i%2 ==0:
        print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

2.Write a Python program that uses a while loop to print the Fibonacci sequence up to the 10th term.

In [4]:

   Number = int(input("\nPlease Enter the Range : "))

# Initializing First and Second Values
i = 0
First_Value = 0
Second_Value = 1
           
# Find & Displaying
while(i < Number):
    if(i <= 1):
        Next = i
    else:
        Next = First_Value + Second_Value
        First_Value = Second_Value
        Second_Value = Next
    print(Next)
    i = i + 1

Please Enter the Range : 10
0
1
1
2
3
5
8
13
21
34

3.Write a Python program that prints all the numbers from 1 to 100. But for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [6]:
for num in range(1,101):

    if num%3==0 and    num%5==0:
        print("FizzBuzz")
        continue
    if num%5==0:
        print("Buzz")
        continue
    if num%3 ==0:
        print("Fizz")
        continue
        
    print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

4. Write a Python program that uses the range function to print all the odd numbers between 1 and 20.

In [6]:
for i in range(1,20):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

5.Write a Python program that takes a string as input and prints the reverse of the string using a for loop.

In [8]:
string = input("Enter a string: ")
reverse_string = ""

for i in range(len(string)-1, -1, -1):
    reverse_string += string[i]

print("Reverse of the string is:", reverse_string)

Enter a string: pythoncoding
Reverse of the string is: gnidocnohtyp

6. Write a Python program that uses a while loop to reverse the order of the words in a given string.

In [10]:
word = "hello"
reverse_word = ""
i = len(word) - 1

while i >= 0:
    reverse_word += word[i]
    i -= 1

print(reverse_word)

olleh

Write a Python program that takes a string as input and prints the number of vowels in the string using a for loop.

In [11]:
str = input("Enter a string:")
vowels = 0


for char in str:
    if char in 'aeiou':
        
        vowels += 1
print("vowels in string:",vowels)

Enter a string:I am learning python
vowels in string: 5

Write a Python program that uses a while loop to find and print the largest number in a list of numbers.

In [12]:
n = [23,43,54,21,32,59,26,20]
i = 0
largest = n[0]
while i < len(n):
    if  n[i] > largest:
            largest = n[i]
                      
        
    i += 1   
print("largest number is :", largest)

largest number is : 59

Write a Python program that takes a list of integers as input and prints the sum of all the even numbers in the list using a for loop.

In [14]:
list = [1,2,3,4,5,6,7,8,9,10]
even_num = [l for l in list if l%2==0]
sum_even = sum(even_num)
print(sum_even)

30

Write a Python program that uses a for loop to print the multiplication table (1 to 10) for a given number.

In [17]:
for i in range (1,11):
    if i >= 1:
        print("multiplication of number", i)
    for j in range (1,11):
        if i>=1:
            print(i,"*",j,"=",i*j)

multiplication of number 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
multiplication of number 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
multiplication of number 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
multiplication of number 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
multiplication of number 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
multiplication of number 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
multiplication of number 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
multiplication of number 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
multiplication of number 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
multiplication of number 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [9]:
house_info = {"groupa":['single','multi' ,'condo' ,'condominium'],
        "groupb":['low', 'medium' ,'high' ,'average'],
        "groupc":['urban', 'rural' ,'citi' ,'metro']}
house_info

{'groupa': ['single', 'multi', 'condo', 'condominium'],
 'groupb': ['low', 'medium', 'high', 'average'],
 'groupc': ['urban', 'rural', 'citi', 'metro']}

. Write a Python program to create a dictionary with key-value pairs and print the dictionary. b. Write a Python program to remove a key from a dictionary. c. Write a Python program to sort a dictionary by key. d. Write a Python program to find the value associated with a given key in a dictionary.

In [10]:
del house_info['groupa']
print(house_info)

{'groupb': ['low', 'medium', 'high', 'average'], 'groupc': ['urban', 'rural', 'citi', 'metro']}

In [12]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [13]:
# Define chess board
board = [    ['r', 'n', 'b', 'q', 'k', 'b', 'n', 'r'],
    ['p', 'p', 'p', 'p', 'p', 'p', 'p', 'p'],
    ['.', '.', '.', '.', '.', '.', '.', '.'],
    ['.', '.', '.', '.', '.', '.', '.', '.'],
    ['.', '.', '.', '.', '.', '.', '.', '.'],
    ['.', '.', '.', '.', '.', '.', '.', '.'],
    ['P', 'P', 'P', 'P', 'P', 'P', 'P', 'P'],
    ['R', 'N', 'B', 'Q', 'K', 'B', 'N', 'R']
]

# Define function to display chess board
def display_board(board):
    for row in board:
        print(' '.join(row))

# Display chess board
display_board(board)

r n b q k b n r
p p p p p p p p
. . . . . . . .
. . . . . . . .
. . . . . . . .
. . . . . . . .
P P P P P P P P
R N B Q K B N R

In [14]:
print(house_info['groupb'])

['low', 'medium', 'high', 'average']

In [8]:
string = input("enter a string:")
new_str = string[::-1]
if string == new_str:
    print("The string is a palindrome:", string)
else:
    print("Not a palindrome")

enter a string:malayalam
The string is a palindrome: malayalam

In [18]:
string1 = input("enter a string:")
string2 = input("enter a string:")
new_str = (string1+string2).upper()
new_str

enter a string:Hello,
enter a string:I am learning python

'HELLO,I AM LEARNING PYTHON '

In [39]:
# Develop a program that reads in a string and counts the number of vowels it contains.
s = ("HELLO,I AM LEARNING PYTHON")
vowels = 'aeiouAEIOU'
count = 0
for char in s:
    if char in vowels:
        count+=1
print("The number of vowels:",count)

The number of vowels: 8

In [34]:
l = [1,2,3,6,48,2,35,65]
l.sort()
l

[1, 2, 2, 3, 6, 35, 48, 65]

In [35]:
l.sort()==True

False

In [42]:
# Write a Python program that takes a string and removes all the punctuation
s = "hello!!,python,"
p = "!,@"
output = ''
for each_char in s:
    if each_char not in p:
        output+=each_char
print(output)

hellopython

In [50]:
# Create a program that reads in a string and capitalizes the first letter of every word in the string.
s = "hello python is a language"
ns = s.title() 
ns

'Hello Python Is A Language'